<ion-view data-title="Futsal Yuk!" style="background:#f1f1f1;">
<ion-header-bar class="bar-dark bar bar-header disable-user-behavior" align-title="center">
	<div class="buttons buttons-left header-item">
		<span class="left-buttons">
			<a href="javascript:history.go(-1);">
				<button class="button button-icon button-clear ion-arrow-left-c" menu-toggle="left"></button>
			</a>
			<span class="border-right"></span>
		</span>
	</div>
	<div class="title title-left header-item" ng-repeat="dt in dtlapdetail">Lapangan {{ dt.nama_penyedia }}</div>
	<div class="buttons buttons-right header-item">
		<span class="right-buttons">
			<button class="custom-right-button button button-icon button-clear ion-android-more-vertical" ng-click="showPopup()"></button>
		</span>
	</div>
</ion-header-bar>
<ion-content scroll="true" class="scroll-content ionic-scroll  has-header" style="transform: translate3d(0px, 0px, 0px) scale(1);">
<div class="hero slide-up" style="background-image: url('img/bglagi.jpg');">
	<div class="padding">
		<div class="card" style="background:rgba(5,5,5,.8);">
		  	<div class="item-body" ng-repeat="dt in dtlapdetail">
			    <!-- <center><img class="avatar" src="img/man.png"></center> -->
			    <p class="greencolor"><strong>{{dt.nama_penyedia}}</strong></p>
			    <p class="whitecolor">
			    	{{dt.alamat}}
			    </p>
			    <b class="badge badge-balanced" style="float:none;">IDR {{dt.harga}}/jam</b>
			</div>
	  	</div>
	</div>
</div>
<div class="col responsive-sm">
	<div class="content padding">
		<div class="card padding" style="padding:0 16px !important;border-radius:4px;margin-bottom:10px;">
			<h4 class="greencolor"><i class="icon ion-images"></i> Gallery</h4>
				<!-- I'm a Header in a Card! -->
			<div class="">
				<div class="row" style="padding:0 !important;">
					<div ng-repeat="dtgal in dtgallery" class="col" style="padding:0 0 0 2px;margin-bottom:0;">
						<a href="">
							<div style="background:url(img/{{ dtgal.foto_lapangan }}) center center no-repeat;background-size:cover;width:100%;height:64px;"></div>
							<!-- <img src="img/bglagi.jpg" height="64px"> -->
						</a>
					</div>
				</div>
				<center><p style="margin-top:8px;" class=""><a class="item-note" style="float:none;" href="">See all photos <i class="icon ion-chevron-right"></i></a></p></center>
				<!-- <button style="margin:0;" ng-click="moreAva()" class="button button-full ink button-balanced">Selengkapnya</button> -->
			</div>
		</div>
		<p>&nbsp;</p>
		<h5 class="greencolor">Riwayat team</h5>
		<div ng-repeat="dtbook in dtbookingpenyedia"  class="card">
		  	<a class="item item-icon-right">
		  		<i class="icon ion-android-more-vertical" ui-sref="detailLapangan"></i>
                <h2 class="greencolor">{{ dtbook.nama_team }}</h2>
                <p>{{ dtbook.tgl_booking }}, Pukul {{ dtbook.jam_booking }}</p>
            </a>
		</div>
	</div>
</div>	

</ion-content>
<div>
<nav mfb-menu position="br" effect="slidein-spring" active-icon="icon ion-chevron-up" resting-icon="icon ion-chevron-down" toggling-method="click">
  <a mfb-button mfb-button-close ui-sref="pesan" icon="ion-email" label="Message"></a>
  <a mfb-button mfb-button-close ui-sref="jadwal" icon="ion-ios-calendar-outline" label="Jadwal"></a>
  <a mfb-button mfb-button-close ng-repeat="dt in dtlapdetail" ui-sref="booking" icon="ion-android-open" label="Sewa Lapangan"><a>
  <a mfb-button mfb-button-close ui-sref="booking" icon="ion-android-open" label="Sewa Lapangan"></a>
</nav>
  </div>
</ion-view>