<ion-view data-title="Futsal Yuk!" style="background:#f1f1f1;">
<ion-header-bar class="bar-dark bar bar-header disable-user-behavior" align-title="center">
	<div class="buttons buttons-left header-item">
		<span class="left-buttons">
			<a href="javascript:history.go(-1);">
				<button class="button button-icon button-clear ion-arrow-left-c" menu-toggle="left"></button>
			</a>
			<span class="border-right"></span>
		</span>
	</div>
	<div class="title title-left header-item">Home</div>
	<div class="buttons buttons-right header-item">
		<span class="right-buttons">
			<button type="submit" class="custom-right-button button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</span>
	</div>
</ion-header-bar>
<ion-header-bar class="bar-stable bar bar-header disable-user-behavior" style="margin-top:44px;" align-title="center">
	<div class="tabs tabs-light static" style="">
		<a class="tab-item ink hvr-underline-from-center">
            Home
        </a>
        <a ui-sref="sewa" class="tab-item ink hvr-underline-from-center">
            Sewa
        </a>
        <a class="tab-item ink hvr-underline-from-center">
            Pesan
        </a>
	</div>
</ion-header-bar>
<ion-content class="scroll-content ionic-scroll has-header padding expanded">
	<br>
	<div class="list card">
		<div class="item item-avatar item-dark" style="border-bottom:solid 3px #33cd5f;">
			<img src="img/logo.png">
			<h2 style="color:#fff;">Rizki</h2>
			<p style="color:#ccc;"><i class="icon ion-android-time"></i> November 13, 2015</p>
		</div>
		<div class="item item-body">
			<img class="full-image" src="img/bglagi.jpg">
			<p>
				This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
				the content is from a card-body consisting of an image and paragraph text. The footer
				consists of tabs, icons aligned left, within the card-footer.
			</p>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left" style="border-top:solid 2px #ddd;">
			<a class="tab-item" href="#">
				<i class="icon ion-eye"></i>
				Lihat Profile
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-ios-chatboxes"></i>
				Ajak Duel
			</a>
		</div>
	</div>
	<h1></h1>

	<div class="list card">
		<div class="item item-avatar item-dark" style="border-bottom:solid 3px #33cd5f;">
			<img src="img/google-material.png">
			<h2 style="color:#fff;">Sony</h2>
			<p style="color:#ccc;"><i class="icon ion-android-time"></i> November 13, 2015</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="img/futsal.jpg">
			<p>
				This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
				the content is from a card-body consisting of an image and paragraph text. The footer
				consists of tabs, icons aligned left, within the card-footer.
			</p>
		</div>
	</div>
	<h1></h1>

	<div class="list card">
		<div class="item item-avatar item-dark" style="border-bottom:solid 3px #33cd5f;">
			<img src="img/ionic.png">
			<h2 style="color:#fff;">Singgih</h2>
			<p style="color:#ccc;"><i class="icon ion-android-time"></i> November 13, 2015</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="img/profile-bg.jpg">
			<p>
				This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
				the content is from a card-body consisting of an image and paragraph text. The footer
				consists of tabs, icons aligned left, within the card-footer.
			</p>
		</div>
	</div>
	<h1></h1>
</ion-content>
</ion-view>