<ion-view data-title="Futsal Yuk!" style="background: url(img/bglagi.jpg) center center no-repeat fixed;background-size:cover;">
<ion-content scroll="false">
<div class="row" style="">
	<div class="col col-center padding">
		<center><img src="img/futsal_.png" style="height:25%;" alt=""></center>
	</div>
</div>	
<div style="position: absolute; bottom: 0px; width: 100%">
    <div class="content padding">
	    <button ui-sref="profile" class="button button-full ink button-light">Daftar</button>
		<p class="text-center" style="color:#fff;font-size:10px;">sudah punya akun masuk?</p>
		<button ui-sref="profile" style="" class="button button-full ink button-assertive">Masuk</button>
		<p class="text-center" style="color:#fff;font-size:10px;">Dengan menggunakan aplikasi ini anda menyetujui Terms of Service </p>
	</div>
</div>
<!-- <div class="bar bar-footer bar-light" style="">
	<p class="title">Lupa kata sandi? <a href="javascript:void(0);">Klik disini!</a></p>
</div> -->
</ion-content>
</ion-view>