<ion-view data-title="Futsal Yuk!">
<ion-content scroll="false">
<!-- <div class="row responsive-sm row-top" style="height:200px;background: linear-gradient(to right,#33cd5f 0%,#11c1f3 100%);"> -->
<div class="row responsive-sm row-top" style="height:200px;width:100%;background: url(../img/futsal.jpg);background-size:cover;">
	<div class="col">
		<div class="text-center">
			<h1 style="color:#fff;margin:7% auto;">FutsalYuk!</h1>
		</div>
	</div>
</div>
			<!-- <img src="./img/bola.ico" class="logo" style="width:120px;" /> -->

<div class="list">
	<div class="tabs-striped tabs-background-light tabs-color-positive">
		<div class="tabs">
			<a class="tab-item hvr-overline-from-center" href="#">
			    Register
		    </a>
			<a class="tab-item hvr-overline-from-center" href="#">
			    Login
		    </a>
		</div>
	</div>
</div>


<div class="col responsive-sm">
	<div class="content padding">
		<!-- <br>
		<h1 class="text-center" align="center" style="color:#fff;">FutsalYuk!</h1> -->
		<div class="content">
	      	<div class="list list-inset" id="formLogin">
	        	<label class="item item-input">
	          		<input type="text" placeholder="Name">
	        	</label>
	        	<label class="item item-input">
	          		<input type="text" placeholder="Password">
	        	</label>
	      	</div>
	      	<button ui-sref="profile" class="button button-block button-balanced">Login</button>
	    </div>
	</div>

</div>

<div class="bar bar-footer bar-light" style="">
	<p class="title">Tidak punya akun? <a href="javascript:void(0);">Daftar disini</a></p>
</div>
</ion-content>
</ion-view>