<ion-view data-title="Futsal Yuk!" style="background:#f1f1f1;">
<ion-header-bar class="bar-dark bar bar-header disable-user-behavior" align-title="center">
	<div class="buttons buttons-left header-item">
		<span class="left-buttons">
			<a href="javascript:history.go(-1);">
				<button class="button button-icon button-clear ion-arrow-left-c" menu-toggle="left"></button>
			</a>
			<span class="border-right"></span>
		</span>
	</div>
	<div class="title title-left header-item">Pengaturan</div>
	<div class="buttons buttons-right header-item">
		<span class="right-buttons">
			<button type="submit" class="custom-right-button button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</span>
	</div>
</ion-header-bar>
<ion-content scroll="true" class="scroll-content ionic-scroll  has-header" style="transform: translate3d(0px, 0px, 0px) scale(1);">
<div class="list">
	<div class="item item-divider" style="color:#444;">
		Pribadi
	</div>
	<ul class="list">
		<li class="item item-toggle item-light" style="border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
		Akun Private
			<label class="toggle toggle-disabled">
	            <input type="checkbox" checked="">
	            <div class="track">
	            	<div class="handle"></div>
	            </div>
			</label>
		</li>
	</ul>

	<div class="item" style="margin-top:-22px;">
		Akun
	</div>
	<a ui-sref="akun" class="item item-light" style="border-bottom:solid 2px #ddd;border-top:solid 1px #ddd;">
		Personal Info
	</a>
	<a class="item item-light" style="color:#e62f17;border-bottom:solid 1px #ddd;">
		Nonaktifkan Akun
	</a>

	<div class="item">
		Dukungan
	</div>
	<a class="item item-light" style="border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
		Laporkan Masalah
	</a>

	<div class="item">
		Tentang
	</div>
	<a class="item item-light" style="border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
		Blog
	</a>
	<a class="item item-light" style="border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
		Ketentuan Pengguna
	</a>
	<a class="item item-light" style="border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
		Kebijakan Privasi
	</a>
	<a class="item item-light" style="border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;">
		Tentang Versi Ini
	</a>
	<div class="padding">
		<button ui-sref="menu" class="button button-full ink button-assertive">Keluar</button>
	</div>
</div>
<div class="row">
	<div class="col col-center">
		<center>
			<img src="img/logocoba.png" style="height:60px;width:auto;" alt="">
			<p class="greencolor" style="font-size:12px;margin-top:-10px;">NK-Corporation</p>
			<p style="color:grey;font-size:12px;margin-top:-12px;">Version 0.1</p>
		</center>
	</div>
</div>	
</ion-content>
</ion-view>