<div class="tabs-striped tabs-top tabs-background-balanced tabs-color-light">
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">
	<!-- Dashboard Tab -->
<ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sewa" icon-off="ion-cash" icon-on="ion-cash" href="#/tab/sewa">
      <ion-nav-view name="tab-sewa"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Pesan" icon-off="ion-chatbubble" icon-on="ion-chatbubble" href="#/tab/pesan">
    <ion-nav-view name="tab-pesan"></ion-nav-view>
  </ion-tab>
</ion-tabs>
</div>
