/* Empty. Add your own CSS if you like */
.content-stable{
	background: url(../img/bglagi.jpg) center center no-repeat !important;
	background-size: 100%;
}
#formLogin div.item{
	background: #fff !important;
	color:#f9f9f9;
}
#formLogin div button{
	background: #fff !important;
	border: none;
	color: #999;
	-webkit-transition:all 0.6s;
	-moz-transition:all 0.6s;
	-ms-transition:all 0.6s;
	transition:all 0.6s;
}
#formLogin div button:hover,#formLogin div button:focus,#formLogin div button:active{
	-webkit-transition:all 0.6s;
	-moz-transition:all 0.6s;
	-ms-transition:all 0.6s;
	transition:all 0.6s;
	background: rgba(255,255,255,.5) !important;
	color: #fff;
}
#formLogin div.item ::-webkit-input-placeholder{
	color:#999;
}
#foot{
	background: rgba(253,255,255,.66) !important;
	color:rgba(0,0,0,.5);
}
.icon-item{
	height: 40% !important;
	box-shadow: 0 0 0 !important;
}
.myhero{
	box-shadow: 0 0 0 !important;
}
.greencolor{
	 color:#33cd5f !important;
}
a{
	text-decoration: none;
	color:#33cd5f;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.paddingContent{
	padding:30px 50px 30px 50px;
}
.custom-text{
	color:#999;
	font-size:11px;
}
.border-right{
	border-right:solid 1px #fff;
	height:50%;
	margin-top:11px;
}
div.bar-header div.buttons-right span.right-buttons button.custom-right-button{
	color:#fff;
	background-color:#33cd5f;
	border-radius:0;
}
.position-center{
	position: absolute;
	bottom:20%; 
	width: 100%;
}
input.text-color{
	color:#555;
}
.button-bar-login{
	border-top:solid 1px #ddd;
}
div.button-bar-login a.custom{
	font-size:12px;
	border-right:solid 1px #ddd;
}
div.button-bar-login a.custom-font{
	font-size:12px;
	color: #33cd5f;
}
.padding-icon{
	padding:0 3% 0 0;
}
.input-padding{
	padding-right:5%;
}
input.border-bottom-input{
	border-bottom:solid 1px #ddd;
}
p.whitecolor, h1.whitecolor, h2.whitecolor, h3.whitecolor h4.whitecolor h5.whitecolor{
	color: #fff;
}
div.item b.arrow-left {
    border-right: solid 10px #fff;
    border-top: thin 10px transparent;
    border-bottom: solid 10px transparent;
    position: absolute;
    color: #fff;
    left: 62px;
    z-index: 1;
    top: 16px;
}
div.item b.arrow-right {
    border-left: solid 10px #ccff90;
    border-top: thin 10px transparent;
    border-bottom: solid 10px transparent;
    position: absolute;
    color: #ccff90;
    right: 16px;
    z-index: 1;
    top: 16px;
}
div.item div.costom-card-penerima{
	margin-left:-25px;
	border-radius:0 20px 20px; 
	margin-top:0;
	border-bottom:solid 2px #33cd5f;
}	
div.item div.costom-card-pengirim{
	background-color:#ccff90;
	margin-top:0;
	border-bottom:solid 2px #fff;
	border-radius: 20px 0 20px 20px; 
}
div.hero div.content button.btn-call{
	margin-top:-95px;
	margin-right:60px;
}
div.hero div.content button.btn-chat{
	margin-top:-95px;
	margin-left:60px;
}	
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: $light;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}